.score-board {
	background-color: black;
	color: white;
	height: 50px;
}

#comp-choice-image, #user-choice-image {
	height: 230px;
	margin: auto;
}
.col-xs-12, .col-xs-6{
	text-align: center;
}
.score-board {
	margin-top: 10px;
}